body{
    background-color: lightgray;
}
#icon{
    width:100px;
    height:100px;
    margin-right:auto;
}
header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
    background-color: lightblue;
}
.header{
    display:flex;
    justify-content: space-around;
}
.header3{
    margin:auto;
    margin-bottom:5%;
    font-family: 'Crete Round', serif;
    background-color: lightpink;
    width:fit-content;
    width:25%;
    text-align: center;
    border:1px solid black;
    border-radius:20px;
}
.header3:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}
#myPawfile{
    margin-right:32%;
}

#media{
    margin-top: 3%;
}
#aboutme{
    margin-bottom: 1%;
}
#aboutmeinfo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:25%;
}
.aboutMep{
    width:70%;
    text-align: center;
    padding-left: 580px;
}
.pfp{
    margin-left: 45%;
    padding-bottom: 60px;
}
#relationshipgoal{
    margin-bottom: 0;
}


#checkbox{
    text-align: center;
}

.browseprofiles{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    border:5px black;
   
}
#profile1{
    background-color: lightpink;
    border-style:solid;
}
#profile2{
    background-color: lightpink;
    border-style:solid;
}
#profile3{
    background-color: lightpink;
    border-style:solid;
}
#profile4{
    background-color: lightpink;
    border-style:solid;
}
#profile5{
    background-color: lightpink;
    border-style:solid;
}
#profile6{
    background-color: lightpink;
    border-style:solid;
}
.browsephotos{
    border-radius: 100%;
}
.links{
    font-family: 'Crete Round', serif;
    width:250px;
}

#profile1:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
#profile2:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
#profile3:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
#profile4:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
#profile5:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
#profile6:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
#map{
    margin:auto;
    margin-top:20px;
    width:300px;
    height:200px;
}
#match{
    margin-top: 80px;
    height: 50px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#match:hover{
    background-color: #3f9243;
}

#message {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .browseprofiles{
        display:inline;
    }
    #profile1, #profile2, #profile3, #profile4 ,#profile5, #profile6{
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .browseprofiles{
        display:inline;
    }
    #profile1, #profile2, #profile3, #profile4 ,#profile5, #profile6{
        margin-top: 20px;
    }
}